@model List<BankTransactionWeb.BAL.Models.AccountDTO>
@{
    ViewData["Title"] = "GetAllAccounts";
}

    <form asp-controller="Account" asp-action="GetAllAccounts" method="get">
        <button class="btn-info" asp-action="AddAccount" asp-controller="Account">Add new</button>
        <br />
        <br />
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Number</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i]?.Number </td>
                        <td>@Model[i]?.Balance </td>
                        <td>
                            <button class="btn-primary" asp-action="UpdateAccount" asp-controller="Account" asp-route-id="@Model[i].Id">Update</button>
                            <button class="btn-danger" asp-action="DeleteAccount" asp-controller="Account" asp-route-id="@Model[i].Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
